<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel de administración</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="admin-panel">
        <h2>Panel de administración</h2>
        <div class="admin-secciones">
            <a th:href="@{/admin/productos}" class="admin-card">
                <h3>Gestionar productos</h3>
                <p>Alta, baja y modificación de productos de la tienda.</p>
            </a>
            <a th:href="@{/admin/pedidos}" class="admin-card">
                <h3>Gestionar pedidos</h3>
                <p>Consulta y gestión de pedidos realizados por los clientes.</p>
            </a>
            <a th:href="@{/admin/usuarios}" class="admin-card">
                <h3>Gestionar Usuarios</h3>
                <p>Consulta y gestiona Clientes.</p>
            </a>
        </div>
    </div>
</body>
</html>