<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/cuenta.css}">
</head>
<body>
    <div class="container">
        <h2>Cambiar Contraseña</h2>
        <form th:action="@{/cuenta/cambiar-password}" method="post">
            <label>Contraseña actual:<br>
                <input type="password" name="actual" required>
            </label><br><br>
            <label>Nueva contraseña:<br>
                <input type="password" name="nueva" required>
            </label><br><br>
            <label>Repetir nueva contraseña:<br>
                <input type="password" name="repetir" required>
            </label><br><br>
            <button type="submit">Cambiar contraseña</button>
        </form>
        <div style="margin-top:20px;">
            <a th:href="@{/cuenta}">&larr; Volver a mi cuenta</a>
        </div>
    </div>
</body>
</html>