<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="container">
        <h1>¡Vaya!</h1>
        <h2>Ha ocurrido un error</h2>
        <div class="tenor-gif-embed" data-postid="12805916815008299407" data-share-method="host" data-aspect-ratio="1" data-width="50%"><a href="https://tenor.com/view/oia-uia-oia-cat-uia-cat-catcultclassics-gif-12805916815008299407">Oia Uia Sticker</a>from <a href="https://tenor.com/search/oia-stickers">Oia Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <p th:text="${mensaje != null ? mensaje : 'Lo sentimos, no se pudo encontrar la página o se ha producido un error inesperado.'}">
            Lo sentimos, no se pudo encontrar la página o se ha producido un error inesperado.
        </p>
        <div style="text-align:center; margin-top:30px;">
            <a th:href="@{/}" class="btn-volver">Volver a la tienda</a>
        </div>
    </div>
    
</body>
</html>